@media only screen and (min-width: 1200px){
    .container {
    width: 1127px;
    margin-left: auto !important;
    margin-right: auto !important;
    }
}


.container {
    display: flex;
    max-width: 100% !important;
}

.www1 {
    width: 100%;
    margin-left: 1.5vw;
    margin-right: 1.5vw;
    /*margin-right: auto !important;*/
}


@media only screen and (max-width: 768px){
   
    .header {
        font-size: 3em;
        
    }
    .container {
    display: block;
    margin-left: 1vw;
    margin-right: 1vw;
    }
    .www1 {
        margin-left: 0;
         margin-right: 0;
        margin-top: 1.5vh;
        
    }

    
    
}

    /*.ui.cards > .card {*/
    /*    width: 100%;*/
    /*    margin-left: 1vw;*/
    /*    margin-right: 1vw;*/
    /*}*/
    
@media only screen and (max-width: 450px){
   
    .header {
        font-size: 2em;
    }
} 


.header {
    display: block;
    font-size: 3em;
    margin-left: 1vw;
}

.full_container {
    display: block;
    padding-top: 75px;
}

#header_container {
    height: 70px;
}

